%p{:id => 'heading'} Surveillance
.flash
  - flash.each do |name, msg|
    %br
    = content_tag :div, msg, id: "flash_#{name}"
    %br
- if @repo_list
  %b User:
  = @user_login
  %br
  %br
  - if @repo_list.length > 0
    %b Repo Count:
    = @repo_list.count
    %br
    %br
    = content_tag :div, '', id: 'issue_chart', data: {issuexdata: @issuexdata, issueydata: @issueydata}
    %br
    %br
    = content_tag :div, '', id: 'contrib_chart', data: {contribydata: @contribydata, contribtotalxdata: @contribtotalxdata, contribrecentxdata: @contribrecentxdata}, style: "height: #{(@contribydata.count * 30)}px"
    %br
  - else
    No existing repository!